.Puzzle {
    width: 250px;
    margin: auto;
    background-color: black;
    border-radius: 10px;
    padding: 4px;
}

.Puzzle-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Puzzle-filled {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    outline: 1px solid black;
    margin: 2px;
    opacity: .7;
}

.Puzzle-empty {
    margin: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(232, 232, 232, 0.5);
}

.Puzzle-highlight {
    background-color: goldenrod;
}